/* 
GOOGLE FONTS
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
 */

body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #555555;
}

p {
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-size: 6em;
	text-align: center;
	padding-top: 100px;
}


header{
	width: 100%
}

#frontHead{
	position: fixed;
	top: 0;
	height: 400px;
	background-color:#00b16a;
	background-size: cover;
	z-index:100;
	padding: 10px;
		-webkit-transition: height .55s;
	    -moz-transition: height .55s;
	    -ms-transition: height .55s;
    transition: height .55s;
}

#tag{
	position: relative;
	width: 60%;
	height: 100px;
	top: 350px;
	left: 50px;
	max-height: 45px;
	background: url(../img/tag.png) no-repeat;
	background-size: contain;
	background-position: center top;
		-webkit-transition: opacity .25s;
	    -moz-transition: opacity .25s;
	    -ms-transition:  opacity .25s;
    transition: opacity .25s;
}

#logo{
	position: relative;
	float: left;
	width: 60%;
	height: 100%;
	background: url(../img/logoPad.png) no-repeat center center;
	background-size: contain;
	left: 50px;
		-webkit-transition:height .7s, top .7s, left .7s, width .5s;
	    -moz-transition:height .7s, top .7s, left .7s, width .5s;
	    -ms-transition: height .7s, top .7s, left .7s, width .5s ;
    transition: height .7s, top .7s, left .7s, width .5s ;
}


#nav {
	position: relative;
	width: 20%;
 	float: right;
	margin-top: 100px;
	margin-left: 75px;
	opacity: 1;
		-webkit-transition: opacity .25s;
	    -moz-transition: opacity .25s;
	    -ms-transition:  opacity .25s;
    transition: opacity .25s;
}

a{
	text-decoration: none;
}
.navButt{
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1em;
	display: block;
	margin: 10px;
	width: 100px;
	height: 1.25em;
	padding: 5px;
	background-color: #1e824c;
	color: #ffffff;

}

.clear{
	opacity: 0 !important;
}

.navSmall{
	top: 0px !important;
	width: 350px !important;
	margin: 0px !important;
	margin-top: -25px !important;
}

.navSmall div{
	width: 75px;
	font-size: .75em;
	margin: 5px;
	text-align: center;
	display: inline-block;
}

.small{
	height: 80px !important;
}

.smallLogo{	
	width: 150px !important;
	top: -10px !important;
	left: 15px !important;
	height: 100px !important;
}

section{
	position: relative;
	width: 100%;
	min-height: 800px;
}

#about h1{
	margin-top: 500px;
}

#portfolio {
	text-align: center;
	background-color: #ef4836;
}

.portPiece {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: #cccccc;
	margin: 10px !important;
	vertical-align: top;
}