body {
	background-color: #66CC99;
	margin: 0;
	padding: 0;
	height: 2000px;
}

header{
	width: 100%
}

#frontHead{

	position: fixed;
	top: 0;
	height: 400px;
	background-color:#F64747;
	background-size: cover;
	z-index:100;
	padding: 10px;
		-webkit-transition: height .5s;
	    -moz-transition: height .5s;
	    -ms-transition: height .5s;
    transition: height .5s;
}

#logo{
	width: 60%;
	max-width: 500px;
	height: 100%;
	background: url(../img/logo.png) no-repeat center center;
	background-size: contain;
	margin: 0 auto;


}

.small{
	height: 100px !important;
}

#pieces {
	position: absolute;
	top: 525px;
	width: 100%;
	text-align: center;
}

.portPiece {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: #ff0000;
	margin: 10px !important;
	vertical-align: top;
}