/* 
GOOGLE FONTS
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
 */

body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #777777;
}


p {
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size: 6em;
	text-align: center;
	padding-top: 100px;
	margin: 10px;
}


header{
	width: 100%;
}

#overlay{
	background: url("../img/x.png") no-repeat 95% 115px ;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 500;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.75);
	visibility: hidden;
}


#frontHead{
	position: fixed;
	top: 0;
	height: 400px;
	background-color:#00b16a;
	background-size: cover;
	z-index:1000;
	padding: 10px;
		-webkit-transition: height .55s;
	    -moz-transition: height .55s;
	    -ms-transition: height .55s;
    transition: height .55s;
}
#greeting{
	margin-top: 300px;
	text-align: center;
	color: #c2f2df;
}

#tag{
	position: relative;
	width: 60%;
	height: 100px;
	top: 350px;
	left: 50px;
	max-height: 45px;
	background: url(../img/tag.png) no-repeat;
	background-size: contain;
	background-position: center top;
		-webkit-transition: opacity .25s;
	    -moz-transition: opacity .25s;
	    -ms-transition:  opacity .25s;
    transition: opacity .25s;
}

#logo{
	position: relative;
	float: left;
	width: 60%;
	height: 100%;
	background: url(../img/logoPad.png) no-repeat center center;
	background-size: contain;
	left: 50px;
		-webkit-transition:height .7s, top .7s, left .7s, width .5s;
	    -moz-transition:height .7s, top .7s, left .7s, width .5s;
	    -ms-transition: height .7s, top .7s, left .7s, width .5s ;
    transition: height .7s, top .7s, left .7s, width .5s ;
}


#nav {
	position: relative;
	width: 20%;
 	float: right;
	margin-top: 100px;
	opacity: 1;
		-webkit-transition: opacity .25s;
	    -moz-transition: opacity .25s;
	    -ms-transition:  opacity .25s;
    transition: opacity .25s;
}

a{
	text-decoration: none;
}

.navButt{
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1em;
	display: block;
	margin: 10px;
	width: 100%;
	height: 1.25em;
	padding: 5px;
	background-color: #1e824c;
	color: #ffffff;

}

.clear{
	opacity: 0 !important;
}

.navSmall{
	top: 0px !important;
	width: 350px !important;
	margin: 0px !important;
	margin-top: -25px !important;
}

.navSmall div{
	width: 75px;
	font-size: .75em;
	margin: 5px;
	text-align: center;
	display: inline-block;
	background-color: #00b16a;
}

.navSmall div:hover{
	background-color: #1e824c;
}

.small{
	height: 80px !important;
}

.smallLogo{	
	width: 150px !important;
	top: -10px !important;
	left: 15px !important;
	height: 100px !important;
}

section{
	position: relative;
	width: 100%;
	padding-bottom: 100px;
}

#about h1{
	margin-top: 100px;
}

#portfolio {
	color:#ffffff;
	text-align: center;
	background-color: #777777;
}
 iframe {
	margin: 0 auto;
	width: 60%;
	height: 500px;
	border: none;
	outline: none;
 }

.portPiece {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 365px;
	overflow: auto;
	margin: 10px !important;
	vertical-align: top;
	text-align: left;
	background-color: #888888;
	padding-bottom: 10px
}

.portPiece h2 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin: 10px;
	font-size: 1.7em;
}

.portPiece p {
	width: 230px;
	margin: 0 auto;
	font-size: .8em;
}

.portImg {
	position: relative;
	width: 250px;
	height: 250px;
	background-color: #00ff00;
	background-size: contain !important;
}